@model AWBugTracker.Entities.Ticket
@using AWBugTracker.Enums

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input type="hidden" asp-for="ProjectId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label"></label>
                <select asp-for="TicketType" class="form-control" asp-items="Html.GetEnumSelectList<TicketTypeEnum>()">
                    <option value="">Ticket Type</option>
                </select>
                <span asp-validation-for="TicketType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketSeverity" class="control-label"></label>
                <select asp-for="TicketSeverity" class="form-control" asp-items="Html.GetEnumSelectList<TicketSeverityEnum>()">
                    <option value="">Ticket Severity</option>
                </select>
                <span asp-validation-for="TicketSeverity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<ProgressEnum>()">
                    <option value="">Ticket Status</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
